.footer-logo {
    width: 100vh;
    text-align: center;
    margin-bottom: 20px;
}

.footer-social {
    margin-bottom: 20px;
    text-align: center;
    text-size-adjust: inherit;
}

.footer-component {
    margin-top: auto;
}

.footer-contenedor{
    margin:auto;
    text-align: center;
}


@media (min-width:768px) {
    .footer-logo {
        text-align: left;
    }

    .footer-social {

    text-align: right;


    }
}