.contenedor-login {
    min-height: calc(100vh - 76px - 238px);
}

.caja-login{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgb(204, 204, 204);
}